<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <main class="loginMain">
        <!--로그인섹션-->
        <section class="login">
            <!--로그인박스-->
            <article class="login__form__container">
                <!--로그인 폼-->
                <div class="login__form">
                    <h1>관리자 로그인 페이지</h1>
                    <!--로그인 인풋-->
                    <form class="login__input" action="/login" method="post">
                        <input type="text" name="username" placeholder="유저네임">
                        <input type="password" name="password" placeholder="비밀번호">
                        <button>로그인</button>
                    </form>
                </div>
            </article>
        </section>
    </main>

</div>
</body>
</html>