<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
    <link href="/css/portfolio.css" rel="stylesheet"> <!-- CSS 경로 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="/js/portfolio.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Design Allim</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav-item" href="/portfolio">시공사례</a>
                <!-- 메인 이미지 추가/삭제 링크 -->
                <button data-bs-toggle="modal" data-bs-target="#uploadModal" th:if="${principal != null}">이미지 추가하기
                </button>
            </div>
        </div>
        <a class="navbar-brand" href="/auth/signin" th:if="${principal == null}">관리자 로그인</a>
        <a class="navbar-brand" href="/logout" th:if="${principal != null}">로그아웃</a>
    </div>
</nav>


<!-- 각 이미지에 대응하는 카드 구조 -->
<div class="card-container" id="imageContainer">
    <div th:each="album, iterStat : ${albums}" class="card">
        <!-- 앨범의 첫 번째 이미지를 클릭하면 오버레이 페이지를 여는 함수를 호출합니다. -->
        <img th:if="${album.images.size() > 0}"
             th:src="@{/upload/{filename}(filename=${album.images.get(0).postImageUrl})}"
             alt="Album Image" class="card-img-top"
             th:data-album-id="${album.id}"
             onclick="openOverlay(this.dataset.albumId)"/>
        <div class="card-body">
            <p class="card-text" th:text="${album.caption}"></p>
        </div>
    </div>
</div>

<!-- Image 업로드 Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">이미지 업로드</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Image 업로드 form 중요!! -->
                <form action="/portfolio" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="imageFile" class="form-label">이미지 파일</label>
                        <input type="file" class="form-control" id="imageFile" name="files"
                               multiple="multiple"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="imageTitle" class="form-label">시공 내용</label>
                        <textarea class="form-control autoresize" id="imageTitle" name="caption"
                                  rows="10"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>