<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="/css/home.css" rel="stylesheet"> <!-- CSS 경로 변경 -->
    <script src="/js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Design Allim</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav-item" href="/portfolio">시공사례</a>
                <!-- 메인 이미지 추가/삭제 링크 -->
                <a class="nav-link nav-item" href="#" data-bs-toggle="modal"
                   data-bs-target="#manageMainImageModal">메인 이미지 관리</a>
                <a class="nav-link nav-item" href="#" th:if="${principal != null}" data-bs-toggle="modal"
                   data-bs-target="#manageCommentModal">메인 인사말 바꾸기</a>
            </div>
        </div>
        <a class="navbar-brand" href="/auth/signin" th:if="${principal == null}">관리자 로그인</a>
        <a class="navbar-brand" href="/logout" th:if="${principal != null}">로그아웃</a>
    </div>
</nav>

<!-- 그 커버 이미지 케러셀 아니고 -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div th:each="cover, iterStat : ${covers}"
             th:class="${iterStat.first} ? 'carousel-item active' : 'carousel-item'">
            <img th:src="${cover.coverImageUrl}" class="d-block w-100"
                 th:alt="커버사진">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- 메인 이미지 추가/삭제 모달 -->
<div class="modal fade" id="manageMainImageModal" tabindex="-1" aria-labelledby="manageMainImageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageMainImageModalLabel">메인 이미지 관리</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <button type="button" class="btn btn-primary flex-fill me-2" data-bs-toggle="modal"
                        data-bs-target="#uploadModal">메인 이미지 추가
                </button>
                <button type="button" class="btn btn-danger flex-fill ms-2" data-bs-toggle="modal"
                        data-bs-target="#deleteCoverImageModal">메인 이미지 삭제
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 메인 이미지 추가 모달 -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">이미지 업로드</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Image 업로드 form -->
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="imageTitle" class="form-label">이미지 제목 (삭제할때 사용합니다.)</label>
                        <input type="text" class="form-control" id="imageTitle" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="imageFile" class="form-label">이미지 파일</label>
                        <input type="file" class="form-control" id="imageFile" name="file" required>
                    </div>
                    <button type="submit" class="btn btn-primary">업로드</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Cover 이미지 삭제 모달 -->
<div class="modal fade" id="deleteCoverImageModal" tabindex="-1" aria-labelledby="deleteCoverImageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCoverImageModalLabel">메인 이미지 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <!-- 타임리프 반복문을 사용하여 커버 이미지 리스트를 렌더링합니다. -->
                    <li th:each="cover : ${covers}"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <span th:text="${cover.title}"></span>
                        <!-- 삭제 버튼 -->
                        <button type="button" class="btn btn-outline-danger btn-sm"
                                th:onclick="'deleteCoverImage(' + ${cover.id} + ');'">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 인사말 관리 모달 -->
<div class="modal fade" id="manageCommentModal" tabindex="-1" aria-labelledby="manageCommentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageCommentModalLabel">인사말 관리</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-between">
                <button type="button" class="btn btn-primary flex-fill me-2" data-bs-toggle="modal"
                        data-bs-target="#addCommentModal">인사말 추가
                </button>
                <button type="button" class="btn btn-danger flex-fill ms-2" data-bs-toggle="modal"
                        data-bs-target="#deleteCommentModal">인사말 삭제
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 인사말 추가 모달 -->
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCommentModalLabel">인사말 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 인사말 추가 폼 -->
                <form action="/comment" method="POST">
                    <div class="mb-3">
                        <label for="commentContent" class="form-label">새 인사말</label>
                        <textarea class="form-control" id="commentContent" name="comment" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">추가</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 인사말 삭제 모달 -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLabel">인사말 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <!-- 타임리프 반복문을 사용하여 인사말 리스트를 렌더링합니다. -->
                    <li th:each="comment : ${comments}"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <span th:text="${comment.content}"></span>
                        <!-- 삭제 버튼 -->
                        <button type="button" class="btn btn-outline-danger btn-sm" th:data-comment-id="${comment.id}"
                                onclick="deleteComment(this.getAttribute('data-comment-id'))">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 중간 멘트 부분 -->
<div class="mid-content">
    <div th:each="comment : ${comments}">
        <p th:text="${comment.content}"></p>
    </div>
</div>

</body>
</html>
